# /etc/systemd/system/gunicorn.service

[Unit]
Description=gunicorn daemon for things-game
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/dev/things-game
ExecStart=/home/ubuntu/dev/things-game/venv/bin/gunicorn --access-logfile - --worker-class eventlet --workers 1 wsgi:app

[Install]
WantedBy=multi-user.target
